<% content_for :title do %>
  Game Master's Companion - Edit Encounter
<% end %>
<% content_for :nav_dropdown do %>
  <li class="dropdown">
    <a data-target="#" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">Campaigns  <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% current_user.campaigns.each do |campaign| %>
        <li><a href="/campaigns/<%= campaign.slug %>"><%= campaign.name %></a></li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li><a href="/campaigns/new">New Campaign</a></li>
      </ul>
    </li>
<% end %>

<h1>Encounters edit page</h1>

<div class="container">
  <div class="row">
  <div class="col-md-12 backdrop-grey"><h2>Edit encounter</h2>
  <form class="" action="/campaigns/<%= @campaign.slug %>/encounters/<%= @encounter.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <label for="Name">Name</label>
              <input type="text" class="form-control" name="encounter[name]"    id="encounter_name"    value="<%= @encounter.name %>">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <label for="Loot">Loot</label>
              <input type="text" class="form-control" name="encounter[loot]"    id="loot"    value="<%= @encounter.loot %>">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="Notes">Notes</label>
          <br>
          <textarea name="encounter[notes]" class="form-control" rows="4" style="min-width: 100%"><%= @encounter.notes %></textarea>
        </div>
      <!--  <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
    </div>
    <div class="col-sm-3">
      <h4>Add Characters</h4>
      <h5>Players</h5>
      <% @players.each do |char| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="encounter_characters[]" value="<%= char.id %>"  <%='checked' if @encounter_character_ids.include?(char.id) %>> <%= char.name %>
          </label>
        </div>
      <% end %>
      <h5>NPCs</h5>
      <% @npcs.each do |char| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="encounter_characters[]" value="<%= char.id %>" <%='checked' if @encounter_character_ids.include?(char.id) %>> <%= char.name %>
          </label>
        </div>
      <% end %>
      </div>
      <div class="col-sm-3">
        <h4>Add Enemies</h4>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Enemies
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/campaigns/<%= @campaign.slug %>">Action</a></li>
            <li><a href="/campaigns/<%= @campaign.slug %>">Another action</a></li>
            <li><a href="/campaigns/<%= @campaign.slug %>">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <% @enemies.each do |enemy| %>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="encounter_characters[]" value="<%= enemy.id %>" <%='checked' if @encounter_character_ids.include?(enemy.id) %>> <%= enemy.name %>
            </label>
          </div>
        <% end %>
        <br>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="col-sm-2 col-sm-offset-6">
        <p><a href="/campaigns/<%= @campaign.slug %>/encounters/<%= @encounter.id %>">Cancel</a></p>
      </div>
    </div>
  </form></div></div>
</div>

<!-- ########################################### -->
<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-lg" id="myBtn">Add New Enemy</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Add New Enemy</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" action="/campaigns/<%= @campaign.slug %>/encounters/enemies_from_popup" method="post">
            <div class="form-group">
              <div class="row">
                <div class="col-md-8">
                  <label for="Name">Name</label>
                  <input type="text" class="form-control" name="character[name]" id="char_category"    placeholder="Name">
                </div>
                <div class="col-md-4">
                  <label for="CR">Creature Rating</label>
                  <input type="text" class="form-control" name="character[cr]" id="char_cr"    placeholder="CR">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label for="AC">Armor Class</label>
                  <input type="text" class="form-control" name="character[ac]"    placeholder="AC">
                </div>
                <div class="col-md-4">
                  <label for="HP">Hit Points</label>
                  <input type="text" class="form-control" name="character[hp]"    placeholder="HP">
                </div>
                <div class="col-md-4">
                  <label for="pp">Passive Perception</label>
                  <input type="text" class="form-control" name="character[passive_perception]"    placeholder="Perception">
                </div>
              </div> <!-- End of Row -->
            </div>
            <div class="form-group">
              <label for="Stats">Stats</label>
              <input type="text" class="form-control" name="character[stats]" id="enemy_stats"    placeholder="Stats">
            </div>
            <div class="form-group">
              <label for="Notes">Notes</label>
              <br>
              <textarea name="character[notes]" class="form-control" rows="4" style="min-width: 100%"></textarea>
            </div>
            <div class="form-group">
            <!--  <label class="control-label"> Attack 1</label>  -->
              <div class="row">
                <div class="col-md-4">
                  <label for="Attack_1">Attack</label>
                  <input type="text" class="form-control" name="attack_1[name]" placeholder="Attack">
                </div>
                <div class="col-md-4">
                  <label for="Attack_1">To Hit</label>
                  <input type="text" class="form-control" name="attack_1[to_hit]" placeholder="Att Bonus">
                </div>
                <div class="col-md-4">
                  <label for="Attack_1">Damage</label>
                  <input type="text" class="form-control" name="attack_1[damage]" placeholder="Damage">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="Attack_2">Attack</label>
                  <input type="text" class="form-control" name="attack_2[name]" placeholder="Attack">
                </div>
                <div class="col-md-4">
                  <label for="Attack_2">To Hit</label>
                  <input type="text" class="form-control" name="attack_2[to_hit]" placeholder="Att Bonus">
                </div>
                <div class="col-md-4">
                  <label for="Attack_2">Damage</label>
                  <input type="text" class="form-control" name="attack_2[damage]" placeholder="Damage">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="Attack_3">Attack</label>
                  <input type="text" class="form-control" name="attack_3[name]" placeholder="Attack">
                </div>
                <div class="col-md-4">
                  <label for="Attack_3">To Hit</label>
                  <input type="text" class="form-control" name="attack_3[to_hit]" placeholder="Att Bonus">
                </div>
                <div class="col-md-4">
                  <label for="Attack_3">Damage</label>
                  <input type="text" class="form-control" name="attack_3[damage]" placeholder="Damage">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- ########################################### -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>
