<% content_for :title do %>
  Game Master's Companion
<% end %>
<% content_for :nav_dropdown do %>
  <li class="dropdown">
    <a data-target="#" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">Campaigns  <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% current_user.campaigns.each do |campaign| %>
        <li><a href="/campaigns/<%= campaign.slug %>"><%= campaign.name %></a></li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li><a href="/campaigns/new">New Campaign</a></li>
      </ul>
    </li>
<% end %>

<h1 class="title">Encounters Log</h1>

<% if @campaign.encounters.length == 0 %>
    <div class="row equal-height">
      <div class="col-md-6 scroll-log full">
        <h3>No encounters have been logged</h3>
      </div>
      <div class="col-md-6">
        <img src="/img/books.jpg" class="hidden-sm hidden-xs img-responsive" alt="">
      </div>
    </div>

<% elsif @campaign.encounters.length < 4 && @campaign.encounters.length > 0 %>
  <div class="row equal-height">
    <div class="col-md-6 scroll-log full">
      <% @campaign.encounters.reverse.each do |enc| %>
        <h3> <a href="/campaigns/<%= @campaign.slug %>/encounters/<%= enc.id %>"><%= enc.name%></a> </h3>
        <p>Loot: <%= enc.loot %></p>
        <p>Notes: <%= enc.notes %></p>
        <p>Enemies: <%= enc.characters.select{|char| char.category == "enemy"}.map{|char| char.name}.join(", ") %></p>
        <% if !enc.characters.select{|char| char.category == "npc"}.empty? %>
          <p>NPCs: <%= enc.characters.select{|char| char.category == "npc"}.map{|char| char.name}.join(", ") %></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <img src="/img/books.jpg" class="hidden-sm hidden-xs img-responsive" alt="">
    </div>

<!--    <div class="col-md-5">
      <img src="/img/books.jpg" alt="">
    </div>  -->
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3> <a href="/campaigns/<%= @campaign.slug %>">Back to campaign</a> </h3>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12 scroll-log">
      <div class="row">
        <div class="col-md-6">
          <% @campaign.encounters.reverse[0..@campaign.encounters.length/2].each do |enc| %>
            <h3> <a href="/campaigns/<%= @campaign.slug %>/encounters/<%= enc.id %>"><%=   enc.name%></a> </h3>
            <p>Loot: <%= enc.loot %></p>
            <p>Notes: <%= enc.notes %></p>
            <p>Enemies: <%= enc.characters.select{|char| char.category == "enemy"}.map{|char| char.name}.join(", ") %></p>
            <% if !enc.characters.select{|char| char.category == "npc"}.empty? %>
              <p>NPCs: <%= enc.characters.select{|char| char.category == "npc"}.map{|char| char.name}.join(", ") %></p>
            <% end %>
          <% end %>
          </div>
          <div class="col-md-6">
            <% @campaign.encounters.reverse[(@campaign.encounters.length/2 +  1)..(@campaign.encounters.length-1)].each do |enc| %>
            <h3> <a href="/campaigns/<%= @campaign.slug %>/encounters/<%= enc.id %>"><%=   enc.name%></a> </h3>
            <p>Loot: <%= enc.loot %></p>
            <p>Notes: <%= enc.notes %></p>
            <p>Enemies: <%= enc.characters.select{|char| char.category == "enemy"}.map{|char| char.name}.join(", ") %></p>
            <% if !enc.characters.select{|char| char.category == "npc"}.empty? %>
              <p>NPCs: <%= enc.characters.select{|char| char.category == "npc"}.map{|char| char.name}.join(", ") %></p>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3> <a href="/campaigns/<%= @campaign.slug %>">Back to Campaign</a> </h3>
      </div>
    </div>
  <% end %>
