<% content_for :title do %>
  Game Master's Companion - Character
<% end %>

<% content_for :nav_dropdown do %>
  <li class="dropdown">
    <a data-target="#" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">Campaigns  <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% current_user.campaigns.each do |campaign| %>
        <li><a href="/campaigns/<%= campaign.slug %>"><%= campaign.name %></a></li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li><a href="/campaigns/new">New Campaign</a></li>
      </ul>
    </li>
<% end %>

<div class="row equal-height">
  <div class="col-md-8 <%= @character.category == 'player' || @character.category == 'npc' ? 'backdrop-blue' : 'backdrop-red' %>">
    <div class="row">
      <div class="col-md-9">
        <h2><%= @character.name %></h2>
      </div>
      <div class="col-md-3">
        <% if @character.cr != "" && @character.cr != nil %>
          <h2>CR: <%= @character.cr %></h2>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-<%= @character.xp == "" || @character.xp == nil ? 4 : 3%>">
        <h4>Armor Class: <%= @character.ac %></h4>
      </div>
      <div class="col-sm-<%= @character.xp == "" || @character.xp == nil ? 4 : 3%>">
        <h4>Hit Points: <%= @character.hp %></h4>
      </div>
      <div class="col-sm-<%= @character.xp == "" || @character.xp == nil ? 4 : 3%>">
        <h4>Passive Perception: <%= @character.passive_perception %></h4>
      </div>
      <% if @character.xp != "" && @character.xp != nil %>
        <div class="col-sm-3">
          <h4>XP: <%= @character.xp %></h4>
        </div>
      <% end %>
      <br>
    </div>
    <% if !@character.attacks.empty? %>
      <div class="row">
        <div class="col-md-12">
          <span class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>Attack</th>
                <th>Attack Bonus</th>
                <th>Damage</th>
              </tr>
              <% @character.attacks.each do |attack| %>
                <tr>
                  <td><%= attack.name %></td>
                  <td><%= attack.to_hit %></td>
                  <td><%= attack.damage %></td>
                </tr>
              <% end %>
            </table>
          </span>
        </div>
      </div>
    <% end %>
    <% if @character.stats != "" %>
      <div class="row">
        <div class="col-md-12">
          <h4>Stats: <%= @character.stats %></h4>
        </div>
      </div>
    <% end %>
    <br>
    <div class="row">
      <div class="col-md-12 border-left">
        <h4>Notes:</h4>
        <p><%= @character.notes %></p>
      </div>
    </div>
    <br><br>

<!--    <form class="" action="/campaigns/<%= @campaign.slug %>/characters/<%= @character.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-warning">Delete Character</button>
    </form>  -->
  </div>
  <div class="col-md-4">
    <div class="col-md-12"><div class="scroll-log"><h3>Encounter Log</h3>
    <% @character.encounters.reverse[0..2].each do |enc| %>
      <dl>
        <dt><a href="/campaigns/<%= @campaign.slug %>/encounters/<%= enc.id %>"><%= enc.name %></a></dt>
        <dd><%= enc.notes %></dd>
      </dl>
      <% end %></div></div>
  </div>
</div>
<!-- LINKS -->

<div class="row">
  <div class="col-xs-4">
    <h4> <a href="/campaigns/<%= @campaign.slug %>/characters/<%= @character.id %>/edit_character">Edit Character</a> </h4>
    <h4><a href="/campaigns/<%= @campaign.slug %>">Back to Campaign</a></h4>
  </div>
  <div class="col-xs-2 col-xs-offset-2">
    <form onsubmit="return confirm('Are you sure you want to delete <%= @character.name %>?')" action="/campaigns/<%= @campaign.slug %>/characters/<%= @character.id %>/delete" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-warning">Delete Character</button>
        </form>
  </div>
</div>
