<% content_for :title do %>
  Game Master's Companion - Campaign
<% end %>
<% content_for :nav_dropdown do %>
  <li class="dropdown">
    <a data-target="#" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">Campaigns  <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% current_user.campaigns.each do |campaign| %>
        <li><a href="/campaigns/<%= campaign.slug %>"><%= campaign.name %></a></li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li><a href="/campaigns/new">New Campaign</a></li>
      </ul>
    </li>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h3 class="title"><%= @campaign.name %></h3>
    <h4>&ensp;-<%= @campaign.setting %></h4>
    <p><%= @campaign.notes %></p>
    <br>
  </div>
</div>
<div class="row">
  <!-- ##################################################### -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 backdrop-blue"><h4>Players</h4>
      <dl class=""><% @players.each do |char| %>
        <dt><a href="/campaigns/<%= @campaign.slug %>/characters/<%= char.id %>"><%= char.name %></a></dt>
        <div class="row">
          <div class="col-sm-4">
            <dd>AC: <%= char.ac %></dd>
          </div>
          <div class="col-sm-4">
            <dd>HP: <%= char.hp %></dd>
          </div>
          <div class="col-sm-4">
            <dd>Perc: <%= char.passive_perception %></dd>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <dd>Stats: <%= char.stats %></dd>
          </div>
        </div>
        <br>
      <% end %>
      </dl>
      <p><a href="/campaigns/<%= @campaign.slug %>/create_character">Add Player Character</a></p><br></div>
    </div>
    <div class="row">
      <div class="col-md-12 backdrop-blue"><h4>NPCs</h4>
      <dl class=""><% @npcs.reverse[0..3].each do |char| %>
        <dt><a href="/campaigns/<%= @campaign.slug %>/characters/<%= char.id    %>"><%= char.name %></a></dt>
        <div class="row">
          <div class="col-sm-4">
            <dd>AC: <%= char.ac %></dd>
          </div>
          <div class="col-sm-4">
            <dd>HP: <%= char.hp %></dd>
          </div>
          <div class="col-sm-4">
            <dd>Perc: <%= char.passive_perception %></dd>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <dd>Stats: <%= char.stats %></dd>
          </div>
        </div>
        <br>
      <% end %>
      </dl>

      <p><a href="/campaigns/<%= @campaign.slug %>/create_character/npc">Add Friendly NPC</a></p><br></div>
    </div>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <div class="row">
      <div class="col-md-12 backdrop-grey"><h4>Recent Encounters</h4>
        <dl class=""><% @encounters.reverse[0..2].each do |en| %>
          <dt><a href="/campaigns/<%= @campaign.slug %>/encounters/<%= en.id    %>"><%= en.name %></a></dt>
          <dd><%= en.notes %></dd>
          <br>
        <% end %>
      </dl>
      <div class="row">
        <div class="col-md-4">
          <p><a href="/campaigns/<%= @campaign.slug %>/encounters">View All Encounters</a></p>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <p><a href="/campaigns/<%= @campaign.slug %>/create_encounter">Add Encounter</a></p>
        </div>
      </div></div>
    </div>
    <div class="row">
      <div class="col-md-12 backdrop-red"><h4>Recent Enemies</h4>
      <dl class=""><% @enemies.reverse[0..3].each do |char| %>
        <dt>
          <div class="row">
            <div class="col-md-8">
              <a href="/campaigns/<%= @campaign.slug %>/characters/<%= char.id %>"><%= char.name %></a>
            </div>
            <div class="col-md-4">
              CR: <%= char.cr %>
            </div>
          </div>
        </dt>
        <div class="row">
          <div class="col-sm-4">
            <dd>Perception: <%= char.passive_perception %></dd>
          </div>
          <div class="col-sm-4">
            <dd>HP: <%= char.hp %></dd>
          </div>
          <div class="col-sm-4">
            <dd>AC: <%= char.ac %></dd>
          </div>
        </div>
        <% if char.notes != "" && char.notes != nil %>
          <div class="row">
            <div class="col-md-12">
              <dd>Notes: <%= char.notes %></dd>
            </div>
          </div>
        <% end %>
        <br>
      <% end %>
      </dl>
      <div class="row">
        <div class="col-md-4">
          <p><a href="/campaigns/<%= @campaign.slug %>/characters/enemies">View All Enemies</a></p>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <p><a href="/campaigns/<%= @campaign.slug %>/create_character/enemy">Add Enemy</a></p>
        </div>
      </div></div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-4">
    <h4> <a href="/campaigns/<%= @campaign.slug %>/edit">Edit this campaign</a>
    </h4>
    <h4><a href="/">Back to Home</a></h4>
  </div>
  <div class="col-md-2 col-md-offset-6">
    <form onsubmit="return confirm('Are you sure you want to delete <%= @campaign.name %>?')" action="/campaigns/<%= @campaign.slug %>/delete" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-warning">Delete Campaign</button>
        </form>
  </div>
</div>
